.player-location {
  font-weight: bold;
}

button:disabled {
  color: gray;
}

.U-District {
  color: purple;
}

.Capitol-Hill {
  color: orange;
}

.Downtown {
  color: green;
}

.Frellard {
  color: red;
}

.locations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.locations > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

#Ravenna-Park {
  grid-column: 2 / 2;
  grid-row: 1;
}

#Neptune-Theater {
  grid-column: 1 / 1;
  grid-row: 2;
}

#Cafe-Allegro {
  grid-column: 2 / 3;
  grid-row: 3;
}

#Suzzallo-Library {
  grid-column: 3 / 3;
  grid-row: 3;
}

#College-Inn {
  grid-column: 2/2;
  grid-row: 4;
}
/*.location {
  width: 300px;
  height: 150px;
}

.infestations {
  width: 300px;
  height: 100px;
  font-size: 10px;
}

.U-District li, .Capitol-Hill li, .Downtown li, .Frellard li {
  list-style: none;
  width: 60%;
  margin-bottom: 2em;
  border: 1px solid black;
}*/

/*li#Ravenna-Park {
  text-align: center;
}

li#Neptune-Theater {
  display: inline-block;
  float: left;
}

li#Cafe-Allegro {
  text-align: center;
}

li#Suzzallo-Library {
  width: 100%;
  text-align: right;
  padding-right: 7em;
  display: inline-block;
}

li#Volunteer-Park, li#Century-Ballroom {
  text-align: center;
}

li#Sizzle-Pie, li#Mercury {
  width: 100%;
  text-align: right;
  padding-right: 7em;
  display: inline-block;
}

ul.Downtown {
  padding-top: 3em;
  padding-left: 5em;
}

li#Space-Needle {
  text-align: center;
}

li#Convention-Center, li#Central-Library {
  text-align: right;
}

ul.Frellard {
  padding-left: 3em;
}

li#Archie-McPhees {
  margin-top: 3em;
  width: 100%;
  text-align: right;
}

li#Fremont-Troll {
  width: 100%;
  text-align: center;
}

li#Gasworks {
  width: 80%;
  text-align: right;
}

li#Lenin {
  text-align: center;
}*/
